### 1. Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
df_train=pd.read_csv('/content/fraudTrain.csv')
df_train

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495.0,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1.325376e+09,36.011293,-82.048315,0.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149.0,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1.325376e+09,49.159047,-118.186462,0.0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154.0,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1.325376e+09,43.150704,-112.154481,0.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939.0,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1.325376e+09,47.034331,-112.561071,0.0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99.0,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1.325376e+09,38.674999,-78.632459,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620064,620064,2019-09-21 03:47:34,6011581063717667,fraud_Cartwright-Harris,grocery_pos,106.65,Jerry,Perkins,M,3867 Susan Corners Apt. 883,...,40.1959,-92.4333,805.0,Private music teacher,1970-06-27,00d8609169ce018514d6e9f516e424b9,1.348199e+09,40.640670,-92.663843,0.0
620065,620065,2019-09-21 03:47:39,4939976756738216,fraud_Spinka Inc,grocery_net,83.29,Michelle,Johnston,F,3531 Hamilton Highway,...,26.4215,-99.0025,18128.0,IT trainer,1990-11-07,a963c6c04d6bec2e9e3e165aa0f51ac5,1.348199e+09,26.598364,-98.223526,0.0
620066,620066,2019-09-21 03:48:25,4254074738931278,"fraud_Rowe, Batz and Goodwin",grocery_pos,132.41,Gary,Hall,M,69085 Short Shores,...,42.0737,-78.0594,239.0,Radio producer,1956-05-02,cdd62b2cf0767ef112641b6d93981c78,1.348199e+09,42.483193,-77.728786,0.0
620067,620067,2019-09-21 03:48:57,6538441737335434,fraud_Kling Inc,gas_transport,50.82,Gina,Grimes,F,444 Robert Mews,...,41.3851,-80.1752,606.0,Energy manager,1997-09-22,2eb79220876ae3633dc9cec6897c4163,1.348199e+09,41.264014,-79.182042,0.0
620068,620068,2019-09-21 03:50:07,4244953610136705533,"fraud_Wintheiser, Dietrich and Schimmel",misc_pos,32.58,Christopher,Odom,M,81446 Nicole Highway Apt. 874,...,39.4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_train.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [4]:
df_test=pd.read_csv("/content/fraudTest.csv")
df_test

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [5]:
df_test.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [7]:
df_train.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     1
city_pop                 1
job                      1
dob                      1
trans_num                1
unix_time                1
merch_lat                1
merch_long               1
is_fraud                 1
dtype: int64

In [9]:
newdf_train=df_train.dropna()
newdf_train.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [10]:
df_test.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [34]:
le=LabelEncoder()
list=['merchant','category','first','last','gender','street','city','state','job','cc_num','dob','trans_num','unix_time','trans_date_trans_time']
for i in list:
  df_train[i]=le.fit_transform(df_train[i])
df_train

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,0,429,514,8,4.97,159,18,0,548,...,36.0788,-81.1781,3495.0,365,746,26981,0,36.011293,-82.048315,0.0
1,1,1,40,241,4,107.23,303,155,0,422,...,48.8878,-118.2105,149.0,421,574,76078,1,49.159047,-118.186462,0.0
2,2,2,228,390,0,220.11,112,377,1,582,...,42.1808,-112.2620,4154.0,302,279,391493,2,43.150704,-112.154481,0.0
3,3,3,489,360,2,45.00,160,456,1,894,...,46.2306,-112.1138,1939.0,323,367,260247,3,47.034331,-112.561071,0.0
4,4,4,354,297,9,41.96,329,147,1,407,...,38.4207,-79.4629,99.0,114,701,397462,4,38.674999,-78.632459,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620064,620064,610259,802,86,4,106.65,161,335,1,393,...,40.1959,-92.4333,805.0,347,431,2016,610291,40.640670,-92.663843,0.0
620065,620065,610260,749,588,3,83.29,242,216,0,352,...,26.4215,-99.0025,18128.0,236,791,410404,610292,26.598364,-98.223526,0.0
620066,620066,610261,644,533,4,132.41,127,172,1,663,...,42.0737,-78.0594,239.0,380,196,498373,610293,42.483193,-77.728786,0.0
620067,620067,610262,835,321,2,50.82,130,167,0,436,...,41.3851,-80.1752,606.0,150,885,113155,610294,41.264014,-79.182042,0.0
620068,620068,610263,876,673,9,32.58,72,315,1,779,...,39.4000,NaN,NaN,486,930,620068,610295,NaN,NaN,NaN

In [35]:
x=df_train.iloc[:,:-1]
x

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,0,429,514,8,4.97,159,18,0,548,...,28654,36.0788,-81.1781,3495.0,365,746,26981,0,36.011293,-82.048315
1,1,1,40,241,4,107.23,303,155,0,422,...,99160,48.8878,-118.2105,149.0,421,574,76078,1,49.159047,-118.186462
2,2,2,228,390,0,220.11,112,377,1,582,...,83252,42.1808,-112.2620,4154.0,302,279,391493,2,43.150704,-112.154481
3,3,3,489,360,2,45.00,160,456,1,894,...,59632,46.2306,-112.1138,1939.0,323,367,260247,3,47.034331,-112.561071
4,4,4,354,297,9,41.96,329,147,1,407,...,24433,38.4207,-79.4629,99.0,114,701,397462,4,38.674999,-78.632459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620064,620064,610259,802,86,4,106.65,161,335,1,393,...,63533,40.1959,-92.4333,805.0,347,431,2016,610291,40.640670,-92.663843
620065,620065,610260,749,588,3,83.29,242,216,0,352,...,78584,26.4215,-99.0025,18128.0,236,791,410404,610292,26.598364,-98.223526
620066,620066,610261,644,533,4,132.41,127,172,1,663,...,14707,42.0737,-78.0594,239.0,380,196,498373,610293,42.483193,-77.728786
620067,620067,610262,835,321,2,50.82,130,167,0,436,...,16114,41.3851,-80.1752,606.0,150,885,113155,610294,41.264014,-79.182042
620068,620068,610263,876,673,9,32.58,72,315,1,779,...,8350,39.4000,NaN,NaN,486,930,620068,610295,NaN,NaN

In [36]:
y=df_train.iloc[:,-1]
y

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
620064    0.0
620065    0.0
620066    0.0
620067    0.0
620068    NaN
Name: is_fraud, Length: 620069, dtype: float64

In [37]:
le=LabelEncoder()
list=['merchant','category','first','last','gender','street','city','state','job','cc_num','dob','trans_num','unix_time','trans_date_trans_time']
for i in list:
  df_test[i]=le.fit_transform(df_test[i])
df_test

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,0,409,319,10,2.86,151,115,1,341,...,33.9659,-80.9355,333497,275,376,98699,0,33.986391,-81.200714,0
1,1,1,552,591,10,29.84,163,457,0,354,...,40.3207,-110.4360,302,392,760,108785,1,39.450498,-109.960431,0
2,2,2,596,611,5,41.28,24,249,0,865,...,40.6729,-73.5365,34496,259,421,433979,2,40.495810,-74.196111,0
3,3,3,583,222,9,60.05,42,457,1,320,...,28.5697,-80.8191,54767,407,718,71993,3,28.812398,-80.883061,0
4,4,4,470,292,13,3.19,247,261,1,548,...,44.2529,-85.0170,1126,196,177,190585,4,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,544755,199,507,5,43.77,235,315,1,531,...,40.4931,-91.8912,519,460,334,336391,544755,39.946837,-91.333331,0
555715,555715,544756,518,264,7,111.84,171,424,1,540,...,29.0393,-95.4401,28739,198,890,70372,544756,29.661049,-96.186633,0
555716,555716,544757,798,496,7,86.88,18,239,0,126,...,46.1966,-118.9017,3684,294,609,235088,544757,46.658340,-119.715054,0
555717,555717,544758,77,75,13,7.99,111,342,1,663,...,44.6255,-116.4493,129,58,331,43546,544758,44.470525,-117.080888,0
555718,555718,544759,626,125,0,38.13,280,145,1,778,...,35.6665,-97.4798,116001,276,813,50595,544759,36.210097,-97.036372,0

In [38]:
x_test=df_test.iloc[:,:-1]
x_test

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,0,409,319,10,2.86,151,115,1,341,...,29209,33.9659,-80.9355,333497,275,376,98699,0,33.986391,-81.200714
1,1,1,552,591,10,29.84,163,457,0,354,...,84002,40.3207,-110.4360,302,392,760,108785,1,39.450498,-109.960431
2,2,2,596,611,5,41.28,24,249,0,865,...,11710,40.6729,-73.5365,34496,259,421,433979,2,40.495810,-74.196111
3,3,3,583,222,9,60.05,42,457,1,320,...,32780,28.5697,-80.8191,54767,407,718,71993,3,28.812398,-80.883061
4,4,4,470,292,13,3.19,247,261,1,548,...,49632,44.2529,-85.0170,1126,196,177,190585,4,44.959148,-85.884734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,544755,199,507,5,43.77,235,315,1,531,...,63453,40.4931,-91.8912,519,460,334,336391,544755,39.946837,-91.333331
555715,555715,544756,518,264,7,111.84,171,424,1,540,...,77566,29.0393,-95.4401,28739,198,890,70372,544756,29.661049,-96.186633
555716,555716,544757,798,496,7,86.88,18,239,0,126,...,99323,46.1966,-118.9017,3684,294,609,235088,544757,46.658340,-119.715054
555717,555717,544758,77,75,13,7.99,111,342,1,663,...,83643,44.6255,-116.4493,129,58,331,43546,544758,44.470525,-117.080888
555718,555718,544759,626,125,0,38.13,280,145,1,778,...,73034,35.6665,-97.4798,116001,276,813,50595,544759,36.210097,-97.036372

In [39]:
y_test=df_test.iloc[:,-1]
y_test

0         0
1         0
2         0
3         0
4         0
         ..
555714    0
555715    0
555716    0
555717    0
555718    0
Name: is_fraud, Length: 555719, dtype: int64

### 2. Logistic Regression Model

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [42]:
lr=LogisticRegression()
lr.fit(x_test,y_test)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [43]:
pred = lr.predict(x_test)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [44]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,pred)
score

0.9958468218650073

### 3.Random Forest

In [45]:
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")
classifier.fit(x_test, y_test)
pred = classifier.predict(x_test)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [46]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test, pred)
cm

array([[553574,      0],
       [    97,   2048]])

In [47]:
score=accuracy_score(y_test,pred)
score

0.9998254513522121